@model IEnumerable<JobPool.Models.PostedJob>
@{
    /**/

    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="unit-5 overlay" style="background-image: url('/images/hero_1.jpg');">
    <div class="container text-center">
        <h2 class="mb-0">DashBoard</h2>
        <p class="mb-0 unit-6"></p>
    </div>
</div>
@using (Html.BeginForm("SearchByUser", "User"))
{
    <div class="row form-group">
        <div class="col-md-3 " style="margin-top:60px;">
            <input type="text" class="form-control" name="JobTitle" value="" placeholder="Search Jobs By Job Title" />
        </div>
        <div class="col-md-3 " style="margin-top:60px;">
            <input type="text" class="form-control" name="City" value="" placeholder="Search Jobs By City" />
        </div>
        <div class="col-md-3 " style="margin-top:60px;">
            <input type="text" class="form-control" name="Designation" value="" placeholder="Search By Designation" />
        </div>
        <div class="col-md-2 " style="margin-top:60px;">
            <input type="submit" class="btn btn-search btn-primary btn-block" value="Search" placeholder="">
        </div>
    </div>
}
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col" data-aos="fade-up" data-aos-delay="100">
                <h2 class="mb-5 h3">Recent Jobs</h2>
                <div class="rounded border jobs-wrap">

                    @foreach (var job in Model)
                    {
                        <div class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                            <div class="company-logo blank-logo text-center text-md-left pl-3">
                                <img src="/images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                            </div>
                            <div class="job-details h-100">
                                <div class="p-3 align-self-center">
                                    <h3>@job.JobTitle</h3>
                                    <div class="d-block d-lg-flex">
                                        <div class="mr-3"><span class="icon-suitcase mr-1"></span>@job.JobCategory</div>
                                        <div class="mr-3"><span class="icon-room mr-1"></span>@job.City</div>
                                        <div><span class="icon-money mr-1"></span>INR @job.salary</div>
                                    </div>
                                </div>
                            </div>
                            <div class="job-category align-self-center">
                                <div class="p-4">
                                    <span class="text-info p-2 rounded border border-info" style="margin-right:70px;"><a href="@Url.Action("Apply", "User", new { id = job.Id })">Apply</a></span>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



