@model JobPool.ViewModels.JobFormViewModel
@{
    /**/

    /**/

    ViewBag.Title = "Post Job";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="unit-5 overlay" style="background-image: url('/images/hero_1.jpg');">
    <div class="container text-center">
        <h2 class="mb-0">Post a Job</h2>
        <p class="mb-0 unit-6">@Html.ActionLink("Home", "DashBoard", "Recruiter")<span class="sep">></span> <span>Post Job</span></p>
    </div>
</div>

@using (Html.BeginForm(@Model.Action, "Recruiter"))
{
    <p class="alert alert-info"> All Fields Are <strong>Required</strong></p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <h2>@Model.Heading</h2>

    <div class="row form-group">
        <div class="col-md-5">
            @Html.LabelFor(m => m.JobTitle, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control", autofocuss = "autofocus", placeholder = "eg Web Developer..." })
            @Html.ValidationMessageFor(m => m.JobTitle)
        </div>
        <div class="col-md-5">
            @Html.LabelFor(m => m.Description, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Enter Job Description..." })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class=" row form-group">
        <div class="col-md-5">
            @Html.LabelFor(m => m.Designation, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", placeholder = "eg Jr. Web Developer" })
            @Html.ValidationMessageFor(m => m.Designation)
        </div>
        <div class="col-md-5">
            @Html.LabelFor(m => m.Skill, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.Skill, new { @class = "form-control", placeholder = "eg C , C++, JAVA, php .." })
            @Html.ValidationMessageFor(m => m.Skill)
        </div>
    </div>
    <div class="row form-group">
        @*<div class="col-md-5">

                @Html.LabelFor(m => m.JobCategory, new { @class = "font-weight-bold" })
                @Html.TextBoxFor(m => m.JobCategory, new { @class = "form-control", placeholder = "eg 1 Jan 2015" })
                @Html.ValidationMessageFor(m => m.JobCategory)
            </div>*@
        <div class="col-md-5">
            @Html.LabelFor(m => m.State_Id, new { @class = "font-weight-bold" })
            @Html.DropDownListFor(m => m.State_Id, new SelectList(Model.State, "Id", "State_Name"), "Select The State", new { @class = "form-control", })
            @Html.ValidationMessageFor(m => m.State_Id)
        </div>
        <div class="col-md-5">

            @Html.LabelFor(m => m.City, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "eg New Delhi" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-5">
            @Html.LabelFor(m => m.experience, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.experience, new { @class = "form-control", placeholder = "eg 2-3 Years" })
            @Html.ValidationMessageFor(m => m.experience)
        </div>
        <div class="col-md-5">
            @Html.LabelFor(m => m.salary, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.salary, new { @class = "form-control", placeholder = "eg 4.5 Lakhs PA" })
            @Html.ValidationMessageFor(m => m.salary)
        </div>

    </div>

    <div class=" row form-group">
        <div class="col-md-5">
            @Html.LabelFor(m => m.TypeOfJob_Id, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.TypeOfJob_Id, new { @class = "form-control", placeholder = "eg Full Time Or Part Time" })
            @*@Html.DropDownListFor(m => m.TypeOfJob_Id, new SelectList(Model.TypeOfJobs, "Id", "NameTypeOfJOb"), new { @class = "form-control", autofocuss = "autofocus" })*@
            @Html.ValidationMessageFor(m => m.TypeOfJob_Id)
        </div>
        <div class="col-md-5">
            @Html.LabelFor(m => m.ValidTill, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(m => m.ValidTill , new { @class = "form-control", placeholder = "eg 1 Jan 2020" })
            @Html.ValidationMessageFor(m => m.ValidTill)
        </div>
    </div>
    <div class="row form-group">
        <button type="submit" class="btn btn-primary ">Save</button>
    </div>

}

